/* 회사소개의 공통 css */

/* .visual */
.visual {
  width: 2000px;
  height: 400px;
  background: url("../../common/images/visual.jpg");
  position: relative;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.visual span {
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 200px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
}

/* .sub_nav */
.sub_nav {
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
}
.sub_nav ul {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub_nav li {
  width: calc(1400px / 4);
  text-align: center;
  position: relative;
}
.sub_nav li a {
  font-size: 1.25rem;
  color: #666;
  line-height: 66px;
  transition: all 0.2s ease-out;
}
.sub_nav li a.current,
.sub_nav li a:hover {
  color: #f65742;
  font-weight: 500;
}
.sub_nav li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #f65742;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.2s ease-out;
}
.sub_nav li a.current::after,
.sub_nav li a:hover::after {
  opacity: 1;
}

/* #content */
#content {
  width: 100%;
  margin: 0 auto;
}
#content .title_area {
  width: 1400px;
  margin: 0 auto;
  height: 532px;
  position: relative;
  overflow: hidden;
  position: relative;
}
#content .title_area::before,
#content .title_area::after {
  content: "";
  display: block;
  width: 150px;
  height: 1px;
  background: #bfb1a3;
  position: absolute;
  left: 50%;
  bottom: 126px;
}
#content .title_area::before {
  transform: translateX(-120%);
}
#content .title_area::after {
  transform: translateX(20%);
}
#content .title_area .line_map {
  position: absolute;
  right: 0;
  top: 30px;
  color: #999;
}
#content .title_area .line_map .home {
  background: url("../images/home.svg") no-repeat center;
  display: inline-block;
  width: 23px;
  height: 23px;
  text-indent: -9999px;
}
#content .title_area .line_map strong {
  font-weight: 600;
  color: #666;
}
#content .title_area h2 {
  display: inline-block;
  margin: 191px auto 0;
  font-size: 3.75rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
#content .title_area h2::before {
  content: "";
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  left: -90px;
  bottom: 0;
  opacity: 0.2;
  z-index: -100;
  background: #bfb1a3;
}
#content .title_area p {
  display: block;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
  position: relative;
}
#content .title_area p::before {
  content: "KUMHO E&C";
  display: block;
  font-size: 0.9rem;
  font-weight: 300;
  color: #f65742;
}
#content .title_area p::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #bfb1a3;
  position: absolute;
  left: 50%;
  top: 123px;
  transform: translateX(-50%);
}

/* .intro */
#content .content_area .intro {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
}
#content .content_area .intro__title {
  width: 1600px;
  margin: 0 auto;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(calc(-40% - 40px));
  }
  to {
    opacity: 1;
    transform: translateY(-40%);
  }
}
#content .content_area .intro__title .title_left {
  transform: translateY(-40%);
}
#content .content_area .intro:hover .title_left {
  animation: fadeInDown 1s;
}
#content .content_area .intro__title h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 16px;
  color: #f65742;
}
#content .content_area .intro__title :is(.slogan, .des) {
  letter-spacing: -0.1px;
  font-weight: 300;
  line-height: 1.5;
}
#content .content_area .intro__title .slogan {
  font-size: 4.06rem;
}
#content .content_area .intro__title .title_right {
  width: 700px;
  position: absolute;
  right: 0;
  bottom: -230px;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    bottom: calc(-230px - 80px);
  }
  to {
    opacity: 1;
    bottom: -230px;
  }
}
#content .content_area .intro:hover .intro__title .title_right {
  animation: fadeInUp 1s;
}
#content .content_area .intro__title .des {
  font-size: 1.5rem;
}
#content .content_area .intro__title .des:not(:first-of-type) {
  margin-top: 24px;
}
#content .content_area .intro__title .des .accent {
  font-weight: 500;
}

/* .history */
#content .content_area .history {
  height: 775px;
  background: #f1f1f1;
  padding: 100px 0;
  box-sizing: border-box;
}
#content .content_area .history h3 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 80px;
}
#content .content_area .history .year {
  width: 1400px;
  height: 96px;
  margin: 0 auto;
  border-bottom: 1px solid #d6d6d6;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content .content_area .history .year li a {
  font-size: 3.12rem;
  font-weight: 600;
  padding: 0 40px 24px;
  color: #c8c7c7;
}
#content .content_area .history .year li :is(.active a, :hover) {
  color: #f65742;
}
#content .content_area .history .year li a {
  position: relative;
  transition: all 0.5s ease-out;
}
#content .content_area .history .year li.active a::before,
#content .content_area .history .year li:hover a::before {
  content: "";
  display: block;
  width: calc(100% + 40px);
  height: 3px;
  background: #f65742;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
#content .content_area .history_contents {
  width: 1400px;
  margin: 100px auto;
}
#content .content_area .history_contents ul {
  display: flex;
  justify-content: center;
}
#content .content_area .history_contents ul li {
  width: auto;
  box-sizing: border-box;
}
#content .content_area .history_contents ul li:not(:last-child) {
  margin-right: 100px;

}
#content .content_area .history_contents dt {
  font-size: 1.88rem;
  font-weight: 600;
  margin-bottom: 20px;
}
#content .content_area .history_contents dd {
  color: #666;
  font-weight: 300;
  display: flex;
  margin-bottom: 10px;
}
#content .content_area .history_contents dd .month {
  color: #111;
  display: inline-block;
  margin-right: 8px;
}
#content .content_area .history :is(#y2000, #y1990, #y1980) {
  display: none;
}

/* .research */
#content .content_area .research {
  width: 1920px;
  margin: 0 auto;
}
#content .content_area .research ul {
  counter-reset: counter;
}
#content .content_area .research li {
  display: flex;
}
#content .content_area .research li:nth-of-type(even) {
  flex-direction: row-reverse;
}
#content .content_area .research li :is(.txt_container, .img_container){
  width: 50%;
  transition: all .35s ease-out;
}
#content .content_area .research li .txt_container{
  box-sizing: border-box;
  position: relative; 
}
#content .content_area .research ul li .txt_container {
  color: #fff;
}
#content .content_area .research ul li:nth-child(2) .txt_container {
  color: #2C44F2;
}
#content .content_area .research ul li:nth-child(1) .txt_container {
  background: #2C44F2;
}
#content .content_area .research ul li:nth-child(2) .txt_container {
  background: #f8f8f8;
}
#content .content_area .research ul li:nth-child(3) .txt_container {
  background: #4E55F1;
}
#content .content_area .research ul li:nth-child(4) .txt_container {
  background: #f65742;
}
#content .content_area .research ul li:nth-child(5) .txt_container {
  background: #BFB1A3;
}
#content .content_area .research li .txt_container .sub_title {
  display: block;
  font-size: 1.06rem;
  font-weight: 500;
  text-transform: capitalize;
}
#content .content_area .research li .txt_container .sub_title::after {
  counter-increment: counter;
  content: " 0" counter(counter);  
}
#content .content_area .research li .txt_container dl {
  height: 100%;
}
#content .content_area .research li .txt_container dt {
  margin-top: -50px;
  font-size: 2.31rem;
  font-weight: 600;
}
#content .content_area .research li .txt_container dd {
  font-size: 1.1rem;
  font-weight: 300;
}
#content .content_area .research li .img_container{
  overflow: hidden;
}
#content .content_area .research li .img_container img {
  object-fit: cover;
}