/* 회사소개의 공통 css */

/* .visual */
.visual {
  width: 2000px;
  height: 400px;
  background: url("../../common/images/visual.jpg");
  position: relative;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.visual span {
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 200px;
  text-shadow: 0 2px 3px rgba(0,0,0,.75);
}

/* .sub_nav */
.sub_nav {
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
}
.sub_nav ul {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub_nav li {
  width: calc(1400px / 4);
  text-align: center;
  position: relative;
}
.sub_nav li a {
  font-size: 1.25rem;
  color: #666;
  line-height: 66px;
  transition: all 0.2s ease-out;
}
.sub_nav li a.current,
.sub_nav li a:hover {
  color: #f65742;
  font-weight: 500;
}
.sub_nav li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #f65742;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.2s ease-out;
}
.sub_nav li a.current::after,
.sub_nav li a:hover::after {
  opacity: 1;
}

/* #content */
#content {
  width: 100%;
  margin: 0 auto;
}
#content .title_area {
  width: 1400px;
  margin: 0 auto;
  height: 532px;
  position: relative;
  overflow: hidden;
  position: relative;
}
#content .title_area::before,
#content .title_area::after {
  content: "";
  display: block;
  width: 150px;
  height: 1px;
  background: #bfb1a3;
  position: absolute;
  left: 50%;
  bottom: 126px;
}
#content .title_area::before {
  transform: translateX(-120%);
}
#content .title_area::after {
  transform: translateX(20%);
}
#content .title_area .line_map {
  position: absolute;
  right: 0;
  top: 30px;
  color: #999;
}
#content .title_area .line_map .home {
  background: url("../images/home.svg") no-repeat center;
  display: inline-block;
  width: 23px;
  height: 23px;
  text-indent: -9999px;
}
#content .title_area .line_map strong {
  font-weight: 600;
  color: #666;
}
#content .title_area h2 {
  display: inline-block;
  margin: 191px auto 0;
  font-size: 3.75rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
#content .title_area p {
  display: block;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
  position: relative;
}
#content .title_area p::before {
  content: "KUMHO E&C";
  display: block;
  font-size: 0.9rem;
  font-weight: 300;
  color: #f65742;
}
#content .title_area p::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #bfb1a3;
  position: absolute;
  left: 50%;
  top: 123px;
  transform: translateX(-50%);
}

/* .intro */
#content .content_area .intro {
  width: 1400px;
  margin: 0 auto;
}
#content .content_area .intro__title {
  text-align: center;
  margin-bottom: 170px;
}
#content .content_area .intro__title h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 25px;
}
#content .content_area .intro__title .slogan {
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.5;
}
#content .content_area .slogan strong {
  font-size: 1.3rem;
  font-weight: 400;
}
