@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
/* font-family: "Noto Sans KR", sans-serif; */

:root {
  --main-red: #ef0010;
  --main-orange: #f65742;
  --main-white: #fff;
  --main-blue: #2c44fe;
  --main-bg-black: #111;
  --sub-gray: #f5f5f5;
  --sub-beige: #bfb1a3;
  --txt-black: #333;
  --txt-black-second: #666;
  --txt-black-third: #999;
  --footer-gray: #aaa;
  --footer-white: #fff;
  --footer-sub-gray: #777;
}

/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  font-size: 16px;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--txt-black);
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
address {
  font-style: normal;
}
a {
  display: block;
  color: var(--txt-black);
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: top;
}

/* google icon */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.hidden {
  display: block;
  position: absolute;
  left: -1000%;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #fff;
}

/* skipNav 영역 */
#skipNav {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 110;
}
#skipNav a {
  height: 1px;
  margin-bottom: -1px;
  overflow: hidden;
  text-align: center;
  color: var(--main-white);
  font-size: 1.2rem;
  font-weight: 700;
}
#skipNav a:hover,
#skipNav a:focus,
#skipNav a:active {
  height: auto;
  padding: 15px 0;
  background: var(--main-red);
}

/* top 이동 */
.move_top {
  width: 64px;
  height: 64px;
  background: #f8f8f8;
  color: #ef0010;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 100px;
  bottom: 100px;
  z-index: 100;
  font-size: 1.5rem;
  transition: all 0.3s ease-out;
  overflow: hidden;
  opacity: 0;
}
.move_top:hover {
  color: #fff;
  background: #ef0010;
}

#wrap {
  width: 100%;
  overflow: hidden;
}

/* header 공통영역 */
#headerArea {
  width: 100%;
  height: 105px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  transition: all 0.25s;
}
#headerArea.white {
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5), 2px 2px 10px 0 rgba(0, 0, 0, 0.1)
}
#headerArea.hide {
  position: fixed;
  transform: translate3d(0, -100%, 0);
}
#headerArea.show {
  transform: translate3d(0,0,0,);
  transition: transform .45s .35s ease-in-out;
}

#headerArea .on {
  display: block;
  width: 100%;
  height: 1px;
  background: #ddd;
  position: absolute;
  left: 0;
  top: 105px;
  display: none;
}
#headerArea .headerInner {
  width: 1750px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#headerArea a {
  color: var(--main-white);
}

/* header .logo */
#headerArea .logo a {
  width: 149px;
  height: 69px;
  margin-right: 150px;
  background: url("../images/header-logo-pb20.png") no-repeat 0 0;
  text-indent: -9999px;
  overflow: hidden;
}
/* header #gnb */
#headerArea #gnb {
  /* 1152px */
  width: calc(192px * 6);
}
#headerArea #gnb .dropdownmenu {
  display: flex;
}
#headerArea #gnb .dropdownmenu .menu {
  position: relative;
  width: calc(100% / 6);
  height: 100px;
}
#headerArea #gnb .menu h3 .depth1 {
  font-size: 1.38rem;
  font-weight: 400;
  text-align: center;
  line-height: 100px;
  position: relative;
}
#headerArea #gnb .menu h3 .depth1::before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #f65742;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -4px;
}
#headerArea #gnb .menu h3 .depth1.active::before {
  content: "";
  width: 100%;
  transition: all .25s ease-out;
}
#headerArea #gnb .dropdownmenu .menu ul a.active {
  color: #f65742;
}

/* header .top_menu */
#headerArea .top_menu {
  width: 299px;
  display: flex;
  justify-content: end;
  gap: 10px;
}
#headerArea .top_menu a {
  padding: 6px 8px;
  transition: all 0.35s;
}
#headerArea .top_menu .signup a {
  background: #ef0010;
  border-radius: 6px;
}
#headerArea .top_menu .signup:hover a {
  background: var(--main-blue);
}

/* 2depth */
#gnb ul.dropdownmenu .menu ul {
  width: 100%;
  height: 215px;
  position: absolute;
  top: 100px;
  left: 0;
  padding: 15px 0;
  line-height: 2.5rem;
  display: none;
}
#gnb ul.dropdownmenu li ul li a {
  display: block;
  text-align: center;
  color: #333;
  transition: all 0.15s ease-out;
}

/* footer 공통영역 */
#footerArea {
  width: 100%;
  background: var(--main-bg-black);
}
#footerArea .footer__container {
  width: 1400px;
  margin: 0 auto;
  padding: 3.75rem 0 5.38rem;
}
/* footer .bottom_menu */
#footerArea .bottom_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
#footerArea .bottom_menu .family_site {
  position: relative;
}
#footerArea .bottom_menu .family_site .arrow {
  position: relative;
  display: block;
  width: 192px;
  padding: 10px 0 10px 10px;
  box-sizing: border-box;
  color: #fff;
  font-size: 1rem;
  line-height: 1.63;
  letter-spacing: 2px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footerArea .bottom_menu .family_site .arrow i {
  transform: rotate(0);
  transition: all .25s ease-out;
}
#footerArea .bottom_menu .family_site ul {
  width: calc(100% + 10px);
  position: absolute;
  bottom: calc(100% + 10px);
  left: -10px;
  background-color: #fff;
  border-radius: 12px;
  padding: 10px 0;
  z-index: 1;
  display: none;
}
#footerArea .bottom_menu .family_site ul a {
  padding: 6px 10px 6px 24px;
  color: #111;
  font-size: 1.2rem;
}
#footerArea .bottom_menu .util_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footerArea .bottom_menu .util_link li {
  padding: 0.31rem 1.13rem 0.31rem 0;
}
#footerArea .bottom_menu .util_link a {
  color: var(--footer-gray);
}
#footerArea .bottom_menu .util_link li.accent a {
  color: var(--main-red);
}

/* footer .social */
#footerArea .social {
  margin-top: 2.92rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footerArea .social a {
  color: var(--main-white);
}
#footerArea .social .qmenu {
  overflow: hidden;
  padding: 4px;
}
#footerArea .social .qmenu li {
  float: left;
}
#footerArea .social .qmenu li:not(:last-child) {
  margin-right: 3rem;
}
#footerArea .social .sns {
  overflow: hidden;
}
#footerArea .social .sns li {
  float: left;
  width: 3.5rem;
  height: 2.5rem;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  transition: all 0.3s ease-out;
}
#footerArea .social .sns li:not(:first-child) {
  margin-left: 0.75rem;
}
#footerArea .social .sns li a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
  filter: brightness(0.7);
  transition: all 0.3s ease-out;
}
#footerArea .social .sns li:hover {
  background: var(--main-red);
}
#footerArea .social .sns li:hover a {
  filter: brightness(1);
}
#footerArea .social .sns li a i {
  transition: all 0.2s ease-out;
}
#footerArea .social .sns li:hover a i {
  transform: scale(1.2);
}
/* footer .addcopy */
#footerArea .addcopy {
  position: relative;
  margin-top: 3.13rem;
  color: var(--footer-sub-gray);
}
#footerArea .footer_logo {
  width: 147px;
  height: 69px;
  position: absolute;
  top: -8px;
  right: 0;
}
#footerArea address {
  color: var(--footer-white);
}
#footerArea .copy {
  margin-top: 0.38rem;
}
#footerArea .copy .accent {
  color: var(--main-red);
}
