@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
/* font-family: "Noto Sans KR", sans-serif; */

:root {
  --main-red: #ef0010;
  --main-orange: #f65742;
  --main-white: #fff;
  --main-blue: #2c44fe;
  --main-bg-black: #111;
  --txt-black: #333;
  --txt-black-second: #666;
  --txt-black-third: #999;
  --footer-gray: #aaa;
  --footer-white: #fff;
  --footer-sub-gray: #777;
  --sub-gray: #f5f5f5;
  --fz16px: 1rem;
  --fz18px: 1.13rem;
  --fz20px: 1.25rem;
  --fz22px: 1.38rem;
  --fz24px: 1.5rem;
  --fz64px: 4rem;
}

/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--txt-black);
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
address {
  font-style: normal;
}
a {
  display: block;
  color: var(--txt-black);
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: top;
}

/* google icon */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.hidden {
  display: block;
  position: absolute;
  left: -1000%;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #fff;
}

/* skipNav 영역 */
#skipNav {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 110;
}
#skipNav a {
  height: 1px;
  margin-bottom: -1px;
  overflow: hidden;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
}
#skipNav a:hover,
#skipNav a:focus,
#skipNav a:active {
  height: auto;
  padding: 15px 0;
  background: var(--main-red);
}

/* top 이동 */
.move_top,
.move_bottom {
  width: 60px;
  height: 60px;
  background: var(--main-bg-black);
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: var(--main-white);
  text-align: center;
  position: fixed;
  left: 50%;
  margin-left: 800px;
  transition: background 0.5s ease-out, color 0.5s ease-out;
}
.move_top {
  bottom: 120px;
}
.move_bottom {
  bottom: 50px;
}
.move_top:hover,
.move_bottom:hover {
  background: var(--main-red);
}
.move_top i,
.move_bottom i {
  display: block;
  line-height: 60px;
  font-size: 1.8rem;
  transition: all 2s ease-out;
}
@keyframes move_top {
  0% {
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.move_top:hover i {
  animation: move_top 1s infinite;
}
@keyframes move_bottom {
  0% {
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
.move_bottom:hover i {
  animation: move_bottom 1s infinite;
}

#wrap {
  width: 100%;
  overflow: hidden;
}

/* header 공통영역 */
#headerArea {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  transition: all 0.55s ease-out;
}
#headerArea:hover {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5), 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
}
#headerArea:hover .logo a {
  background: url("../images/KUMHO_Logo_KJH_txtblack_pb20.png") no-repeat 0 0;
}
#headerArea .header__container {
  width: 1750px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
}
#headerArea a {
  color: var(--main-white);
}
#headerArea:hover a {
  color: var(--txt-black-second);
}

#headerArea:hover #gnb li a:hover {
  color: var(--txt-black);
  font-weight: 500;
}

/* header .logo */
#headerArea .logo a {
  width: 147px;
  height: 69px;
  background: url("../images/header-logo-pb20.png") no-repeat 0 0;
  text-indent: -9999px;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}

/* header #gnb */
#headerArea #gnb {
  flex: 1;
  line-height: 100px;
}

#headerArea #gnb ul {
  display: flex;
  justify-content: space-between;
}
#headerArea #gnb li h3 {
  position: relative;
}
#headerArea #gnb li a {
  width: 192px;
  font-size: var(--fz22px);
  font-weight: 400;
  text-align: center;
}
#headerArea #gnb li a::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: var(--main-red);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
#headerArea #gnb li a:hover::after {
  width: 192px;
}
#headerArea #gnb li:hover a {
  color: var(--txt-black-third);
}

/* header .top_menu */
#headerArea .top_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
#headerArea .top_menu a {
  padding: 6px 8px;
  line-height: 1;
}
#headerArea .top_menu .signup a {
  background: var(--main-red);
  border-radius: 6px;
}
#headerArea .top_menu li a {
  transition: all 0.35s;
}
#headerArea .top_menu .signup:hover a {
  background: var(--main-blue);
}
#headerArea:hover .top_menu .signin a {
  color: var(--txt-black);
}
#headerArea:hover .top_menu .signin:hover a {
  font-weight: 600;
}
#headerArea:hover .top_menu .signup a {
  color: var(--main-white);
}

/* footer 공통영역 */
#footerArea {
  width: 100%;
  background: var(--main-bg-black);
}
#footerArea .footer__container {
  width: 1400px;
  margin: 0 auto;
  padding: 3.75rem 0 5.38rem;
}
/* footer .bottom_menu */
#footerArea .bottom_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
#footerArea .bottom_menu .family_site a {
  width: 192px;
  color: var(--footer-white);
  transition: all 0.55s ease-out;
}
#footerArea .bottom_menu .family_site:hover a {
  letter-spacing: 5px;
}
#footerArea .bottom_menu .family_site a::after {
  content: "+";
  font-size: 2rem;
  margin-top: -10px;
  float: right;
  transition: all 0.5s ease-out;
}
#footerArea .bottom_menu .family_site:hover a::after {
  color: var(--main-red);
  transform: rotateX(360deg) rotateZ(45deg);
}
#footerArea .bottom_menu .family_site ul {
  display: none;
}
#footerArea .bottom_menu .util_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footerArea .bottom_menu .util_link li {
  padding: 0.31rem 1.13rem 0.31rem 0;
}
#footerArea .bottom_menu .util_link a {
  color: var(--footer-gray);
}
#footerArea .bottom_menu .util_link li.accent a {
  color: var(--main-red);
}

/* footer .social */
#footerArea .social {
  margin-top: 2.92rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footerArea .social a {
  color: var(--main-white);
}
#footerArea .social .qmenu {
  overflow: hidden;
  padding: 4px;
}
#footerArea .social .qmenu li {
  float: left;
}
#footerArea .social .qmenu li:not(:last-child) {
  margin-right: 3rem;
}
#footerArea .social .sns {
  overflow: hidden;
}
#footerArea .social .sns li {
  float: left;
  width: 3.5rem;
  height: 2.5rem;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  transition: all 0.3s ease-out;
}
#footerArea .social .sns li:not(:first-child) {
  margin-left: 0.75rem;
}
#footerArea .social .sns li a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
  filter: brightness(0.7);
  transition: all 0.3s ease-out;
}
#footerArea .social .sns li:hover {
  background: var(--main-red);
}
#footerArea .social .sns li:hover a {
  filter: brightness(1);
}
#footerArea .social .sns li a i {
  transition: all 0.2s ease-out;
}
#footerArea .social .sns li:hover a i {
  transform: scale(1.2);
}
/* footer .addcopy */
#footerArea .addcopy {
  position: relative;
  margin-top: 3.13rem;
  color: var(--footer-sub-gray);
}
#footerArea .footer_logo {
  width: 147px;
  height: 69px;
  position: absolute;
  top: -8px;
  right: 0;
}
#footerArea address {
  color: var(--footer-white);
}
#footerArea .copy {
  margin-top: 0.38rem;
}
#footerArea .copy .accent {
  color: var(--main-red);
}
