#content .content_area p .fa-solid[class*="left"] {
  left: 50%;
  top: -80px;
  transform: translateX(-50%);
}
#content .content_area p .fa-solid[class*="right"] {
  left: 50%;
  bottom: -85px;
  transform: translateX(-50%);
}

/* section.quality */
#content .content_area .quality {
  width: 1920px;
  margin: 0 auto;
  position: relative;
}
#content .content_area .quality .tabs {
  overflow: hidden;
}
#content .content_area .quality .tabs .tab {
  width: 300px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 3;
  text-align: center;
  color: #999;
  position: absolute;
  left: 0;
  top: 0;
  transition: all .25s ease-out;
}
#content .content_area .quality .tabs .tab1 {
  left: 510px;
}
#content .content_area .quality .tabs .tab2 {
  left: 810px;
}
#content .content_area .quality .tabs .tab3 {
  left: 1110px;
}
#content .content_area .quality .tabs .tab:is(.on, :hover) {
  background: #f65742;
  color: #fff;
  border-radius: 24px;
}
#content .content_area .quality .tabs .tab::before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #f65742;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: all .25s ease-out;
}
#content .content_area .quality .tabs .tab.on::before {
  width: 80%;
}
#content .content_area .quality .tabs .contlist {
  margin: 72px auto 0;
  padding: 78px 100px 150px;
  display: none;
}

/* .tab1 */
#content .content_area .quality .tabs .contlist:nth-of-type(1) {
}
#content .content_area .quality .tabs .contlist:nth-of-type(1) ul {
  counter-reset: policy;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#content .content_area .quality .tabs .contlist:nth-of-type(1) li {
  width: calc((100% - 40px) / 3);
  background: #f2f2f2;
  border-radius: 20px;
  padding: 50px 14px;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  transition: all .25s ease-out;
}
#content .content_area .quality .tabs .contlist:nth-of-type(1) li:hover {
  transform: scale(1.05);
}
#content .content_area .quality .tabs .contlist:nth-of-type(1) li:is(:nth-last-of-type(1), :nth-last-of-type(2)) {
  width: calc((100% - 20px) / 2);
}
#content .content_area .quality .tabs .contlist:nth-of-type(1) li::before {
  counter-increment: policy;
  content: "0" counter(policy);
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #f65742;
}
#content .content_area .quality .tabs .contlist:nth-of-type(1) .sign .pos {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 100px;
}
#content .content_area .quality .tabs .contlist:nth-of-type(1) .sign .name {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

/* .tab2 */
#content .content_area .quality .tabs .contlist:nth-of-type(2) {
  width: 1600px;
}
#content .content_area .quality .tabs .contlist:nth-of-type(2) .highcharts-figure {
  margin: 50px auto 150px;
  font-size: 24px;
}
#content .content_area .quality .tabs .contlist:nth-of-type(2) .highcharts-figure .highcharts-exporting-group {
  display: none;
}
#content .content_area .quality .tabs .contlist:nth-of-type(2) .system_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
#content .content_area .quality .tabs .contlist:nth-of-type(2) .system_list dl {
  width: calc((100% - 40px) / 3);
  text-align: center;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
}
#content .content_area .quality .tabs .contlist:nth-of-type(2) .system_list dt {
  font-size: 1.5rem;
  font-weight: 600;
  color: #f65742;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  background: #ffebe8;
}
#content .content_area .quality .tabs .contlist:nth-of-type(2) .system_list dd {
  font-size: 1.3rem;
  font-weight: 500;
  color: #555;
  line-height: 1.75;
}
#content .content_area .quality .tabs .contlist:nth-of-type(2) .system_list dd:nth-of-type(1) {
  margin-top: 20px;
}
#content .content_area .quality .tabs .contlist:nth-of-type(2) .system_list dd:last-of-type {
  margin-bottom: 20px;
}

/* .tab3 */
#content .content_area .quality .tabs .contlist:nth-of-type(3) {
  width: 1400px;
}
#content .content_area .quality .tabs .contlist:nth-of-type(3) .activity {
  position: relative;
}
#content .content_area .quality .tabs .contlist:nth-of-type(3) .activity .all {
  font-size: 1.25rem;
  position: absolute;
  right: 0;
  top: -50px;
}
#content .content_area .quality .tabs .contlist:nth-of-type(3) .activity .all i {
  margin-left: 8px;
  transform: rotate(0);
  transition: all .25s ease-out;
}
#content .content_area .quality .tabs .contlist:nth-of-type(3) .activity ul {
  margin-top: 30px;
}
#content .content_area .quality .tabs .contlist:nth-of-type(3) .activity li {
  border-top: 1px solid #f65742;
}
#content .content_area .quality .tabs .contlist:nth-of-type(3) .activity li:last-of-type {
  border-bottom: 1px solid #f65742;
}
#content .content_area .quality .tabs .contlist:nth-of-type(3) .activity .title {
  position: relative;
}
#content .content_area .quality .tabs .contlist:nth-of-type(3) .activity .title .trigger {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 10px 30px;
  background: #ffebe8;
  border-radius: 0 0 8px 8px;
  color: #f65742;
  transition: all .25s ease-out;
}
#content .content_area .quality .tabs .contlist:nth-of-type(3) .activity .hide .trigger {
  background: none;
}
#content .content_area .quality .tabs .contlist:nth-of-type(3) .activity .title .trigger .sm {
  font-size: 1.2rem;
  font-weight: 300;
  margin-left: 8px;
}
#content .content_area .quality .tabs .contlist:nth-of-type(3) .activity .title:is(:hover, :active, :focus) .trigger {
  background: #f65742;
  color: #fff;
}
#content .content_area .quality .tabs .contlist:nth-of-type(3) .activity .title > span i {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.7rem;
  color: #f65742;
  transition: all .25s ease-out;
}
#content .content_area .quality .tabs .contlist:nth-of-type(3) .activity .title:is(:hover, :active, :focus) > span i {
  color: #fff;
}
#content .content_area .quality .tabs .contlist:nth-of-type(3) .activity .des {
  font-size: 1.35rem;
  letter-spacing: -1px;
  padding: 20px 20px 50px;
  display: none;

}
#content .content_area .quality .tabs .contlist:nth-of-type(3) .activity .des::before {
  font-family: "Font Awesome 5 Free";
   content: "\f00c";
   display: inline-block;
   margin-right: 8px;
   font-weight: 900;
   color: #f65742;
}
#content .content_area .quality .tabs .contlist:nth-of-type(3) .activity .des .des_details {
  display: block;
  margin-top: 30px;
}
#content .content_area .quality .tabs .contlist:nth-of-type(3) .activity .des .des_details span {
  display: block;
  font-size: 1.2rem;
}
#content .content_area .quality .tabs .contlist:nth-of-type(3) .activity .des .des_details span::before {
  content: "\2022";
  margin-right: 8px;
}
