/* .content_wrap */
#content .content_area .content_wrap {
}
#content .content_area .content_wrap .tab {
  display: flex;
  justify-content: center;
}
#content .content_area .content_wrap .tab li {
  padding: 16px 36px;
  position: relative;
}
#content .content_area .content_wrap .tab li.active::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #f65742;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
#content .content_area .content_wrap .tab li a {
  font-size: 2.25rem;
  font-weight: 100;
  color: #999;
  padding: 0 12px;
  transition: all .3s ease-out;
}
#content .content_area .content_wrap .tab li:is(.active, :hover) a {
  color: #f65742;
  position: relative;
}
#content .content_area .content_wrap .tab li.active a::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #f65742;
  position: absolute;
  right: 0;
  top: 0;
}

/* .content_wrap .content */
#content .content_area .content_wrap .content {
}
#content .content_area .content_wrap .content li {
  height: 600px;
  padding: 100px 200px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background: #f8f8f8;
}
#content .content_area .content_wrap .content li::before {
  content: "";
  display: block;
  width: 50px;
  height: 100px;
  background: #f65742;
  box-shadow: 4px 4px 5px 0 rgba(0,0,0,.2);
  position: absolute;
  left: 100px;
  top: 0;
}
/* li:nth-of-type(1) */
#content .content_area .content_wrap .content li:nth-of-type(1) {
  display: none;
}
#content .content_area .content_wrap .content li:nth-of-type(1) p {
  width: 80%;
  margin-left: 0;
  margin-bottom: 50px;
}
#content .content_area .content_wrap .content li:nth-of-type(1) p strong {
  font-weight: 500;
}
#content .content_area .content_wrap .content li:nth-of-type(1) img {
  width: 450px;
  filter: invert(87%) sepia(1%) saturate(32%) hue-rotate(5deg) brightness(108%) contrast(86%);
  position: absolute;
  right: 0;
  bottom: -20px;
  transform: scale(1.3) translateY(50px);
  transition: all .5s ease-out;
}
/* li:nth-of-type(2) */
#content .content_area .content_wrap .content li:nth-of-type(2) {
  height: 700px;
  display: none;
}
#content .content_area .content_wrap .content li:nth-of-type(2) dl {
  counter-reset: rule;
}
#content .content_area .content_wrap .content li:nth-of-type(2) dl:first-of-type {
  border-top: 2px solid #111;
}
#content .content_area .content_wrap .content li:nth-of-type(2) dt {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 30px 80px 30px 20px;
  border-bottom: 1px solid #e5e5e5;
  transition: all .1s ease-out;
}
#content .content_area .content_wrap .content li:nth-of-type(2) dt i {
  float: right;
  font-size: 1.8rem;
}
#content .content_area .content_wrap .content li:nth-of-type(2) dt:hover {
  color: #f65742;
  cursor: pointer;
}
#content .content_area .content_wrap .content li:nth-of-type(2) dd::before {
  counter-increment: rule;
  content: "" counter(rule)". ";
}
#content .content_area .content_wrap .content li:nth-of-type(2) dd {
  font-size: 1.4rem;
  line-height: 1.5;
  padding-left: 20px;
  line-height: 2;
  color: #666;
  font-weight: 100;
  display: none;
}
#content .content_area .content_wrap .content li:nth-of-type(2) dd:first-of-type {
  padding-top: 30px;
}
#content .content_area .content_wrap .content li:nth-of-type(2) dd:last-of-type {
  padding-bottom: 50px;
  border-bottom: 1px solid #e5e5e5;
}
/* li:nth-of-type(3) */
#content .content_area .content_wrap .content li:nth-of-type(3) {
  
}
/* li:nth-of-type(4) */
#content .content_area .content_wrap .content li:nth-of-type(4) {
  display: none;
}