/* .content_wrap */
#content .content_area .content_wrap {
}
#content .content_area .content_wrap .tab_menu {
  display: flex;
  justify-content: center;
}
/* #content .content_area .content_wrap .tab_menu li {
  padding: 16px 36px;
  position: relative;
}
#content .content_area .content_wrap .tab_menu li::before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #f65742;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
#content .content_area .content_wrap .tab_menu li.on::before {
  content: "";
  width: 100%;
}
#content .content_area .content_wrap .tab_menu .tab {
  font-size: 2.25rem;
  font-weight: 100;
  color: #999;
  padding: 0 12px;
  transition: all .3s ease-out;
  position: relative;
}
#content .content_area .content_wrap .tab_menu .tab.on,
#content .content_area .content_wrap .tab_menu .tab:hover {
  color: #f65742;
  position: relative;
}
#content .content_area .content_wrap .tab_menu .tab.on::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #f65742;
  position: absolute;
  right: 0;
  top: 0;
} */
#content .content_area .content_wrap .tab_menu .tab {
  font-size: 2.25rem;
  font-weight: 100;
  color: #999;
  padding: 16px 48px;
  position: relative;
  transition: all .25s ease-out;
}
#content .content_area .content_wrap .tab_menu .tab:is(.on, :hover) {
  color: #f65742;
  position: relative;
}
#content .content_area .content_wrap .tab_menu .tab::before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #f65742;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: all .25s ease-out;
}
#content .content_area .content_wrap .tab_menu .tab.on::before {
  width: 100%;
}
#content .content_area .content_wrap .tab_menu .tab::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #f65742;
  position: absolute;
  right: 20px;
  top: 10px;
  opacity: 0;
  transition: all .35s ease-out;
}
#content .content_area .content_wrap .tab_menu .tab.on::after {
  opacity: 1;
}

/* .content_wrap .tabs*/
#content .content_area .content_wrap .tabs{
}
#content .content_area .content_wrap .tabs .contlist {
  padding: 100px 200px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background: #f8f8f8;
  display: none;
}
#content .content_area .content_wrap .tabs .contlist::before {
  content: "";
  display: block;
  width: 50px;
  height: 100px;
  background: #f65742;
  box-shadow: 4px 4px 5px 0 rgba(0,0,0,.2);
  position: absolute;
  left: 100px;
  top: 0;
}
/* .list1 */
#content .content_area .content_wrap .tabs .list1 p {
  width: 80%;
  margin-left: 0;
  margin-bottom: 50px;
  letter-spacing: -1px;
}
#content .content_area .content_wrap .tabs .list1 p strong {
  font-weight: 500;
}
#content .content_area .content_wrap .tabs .list1 img {
  width: 450px;
  filter: invert(87%) sepia(1%) saturate(32%) hue-rotate(5deg) brightness(108%) contrast(86%);
  position: absolute;
  right: 0;
  bottom: -20px;
  transform: scale(1.3) translateY(50px);
  transition: all .5s ease-out;
}
/* .list2 */
#content .content_area .content_wrap .tabs .list2 {
}
#content .content_area .content_wrap .tabs :is(.list2, .list3 .conduct) dl {
  counter-reset: rule;
}
#content .content_area .content_wrap .tabs :is(.list2, .list3 .conduct) dl:first-of-type {
  border-top: 2px solid #111;
}
#content .content_area .content_wrap .tabs :is(.list2, .list3) dt .trigger {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 30px 80px 30px 20px;
  border-bottom: 1px solid #e5e5e5;
  transition: all .1s ease-out;
}
#content .content_area .content_wrap .tabs :is(.list2, .list3 .conduct) dt i {
  float: right;
  font-size: 1.8rem;
}
#content .content_area .content_wrap .tabs :is(.list2, .list3 .conduct) dt:hover .trigger {
  color: #f65742;
  cursor: pointer;
}
#content .content_area .content_wrap .tabs :is(.list2, .list3 .conduct) dd::before {
  counter-increment: rule;
  content: "" counter(rule)". ";
}
#content .content_area .content_wrap .tabs .list2 dl:last-of-type dd:before {
  counter-increment: rule;
  content: "" counter(rule)") ";
}
#content .content_area .content_wrap .tabs :is(.list2, .list3 .conduct) dd {
  font-size: 1.2rem;
  padding-left: 20px;
  line-height: 1.6;
  color: #666;
  font-weight: 100;
  display: none;
}
#content .content_area .content_wrap .tabs :is(.list2, .list3 .conduct) dd:first-of-type {
  padding-top: 30px;
}
#content .content_area .content_wrap .tabs :is(.list2, .list3 .conduct) dd:last-of-type {
  padding-bottom: 50px;
  border-bottom: 1px solid #e5e5e5;
}
/* .list3 */
#content .content_area .content_wrap .tabs .list3 {
}
#content .content_area .content_wrap .tabs .list3 .ethics_regulation {
  background: #fff;
  padding: 50px 60px;
  box-sizing: border-box;
  border-radius: 30px;
  margin-bottom: 75px;
}
#content .content_area .content_wrap .tabs .list3 .ethics_regulation dt {
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}
#content .content_area .content_wrap .tabs .list3 .ethics_regulation dd {
  font-size: 1.2rem;
  line-height: 1.35;
}
#content .content_area .content_wrap .tabs .list3 .ethics_regulation dd:not(:last-child) {
  margin-bottom: 30px;
}
#content .content_area .content_wrap .tabs .list3 .conduct dd {
  counter-reset: span;
  display: none;
}
#content .content_area .content_wrap .tabs .list3 .conduct dd::before {
  content: "" counter(rule)") ";
}
#content .content_area .content_wrap .tabs .list3 .conduct dd span {
  display: block;
  font-size: 1.1rem;
}
#content .content_area .content_wrap .tabs .list3 .conduct dl:nth-of-type(3) dd span::before {
  counter-increment: span;
  content: "(" counter(span) ") ";
}
#content .content_area .content_wrap .tabs .list3 .conduct dl:nth-of-type(3) dd span:first-of-type {
  margin-top: 10px;
}
#content .content_area .content_wrap .tabs .list3 .conduct dl:nth-of-type(3) dd span {
  margin-left: 20px;
}
#content .content_area .content_wrap .tabs .list3 .conduct dl:nth-of-type(7) dd span {
  margin: 10px 0 30px 20px;
}
/* .list4 */
#content .content_area .content_wrap .tabs .list4 {
}
#content .content_area .content_wrap .tabs .list4 h3 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 30px;
}
#content .content_area .content_wrap .tabs .list4 .box {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0,0,0,.4);
  z-index: 10;
  display: none;
}
#content .content_area .content_wrap .tabs .list4 .img_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  margin-bottom: 50px;
}
#content .content_area .content_wrap .tabs .list4 .img_box li {
  width: 20%;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,.3)
}
#content .content_area .content_wrap .tabs .list4 .img_box li a img {
  width: 100%;
}
#content .content_area .content_wrap .tabs .list4 .img_box li .big {
  width: 800px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  display: none;
}
#content .content_area .content_wrap .tabs .list4 .img_box li .big img {
  width: 100%;
}
#content .content_area .content_wrap .tabs .list4 ol {
  counter-reset: anti;
  border-radius: 30px;
  overflow: hidden;
}
#content .content_area .content_wrap .tabs .list4 ol li {
  position: relative;
  padding-left: 200px;
  background: #fff;
  margin-bottom: 2px;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 50px 60px 50px 160px;
}
#content .content_area .content_wrap .tabs .list4 ol li::before {
  counter-increment: anti;
  content: "" counter(anti);
  display: block;
  position: absolute;
  left: 80px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 2.3rem;
  font-weight: 300;
  color: #f65742;
}
