/* .policy */
#content .content_area .policy {
  
}
#content .content_area .policy .tabs {
  width: 1280px;
  margin: 0 auto 150px;
  position: relative;
  overflow: hidden;
}

/* .tab */
#content .content_area .policy .tabs .tab {
  width: 400px;
  font-size: 2rem;
  font-weight: 100;
  line-height: 3;
  text-align: center;
  color: #999;
  position: absolute;
  left: 0;
  top: 0;
  transition: all .25s ease-out;
}
#content .content_area .policy .tabs .tab.tab1 {
  margin-left: 240px;
}
#content .content_area .policy .tabs .tab.tab2 {
  margin-left: 640px;
}
#content .content_area .policy .tabs .tab:is(.on, :hover) {
  color: #f65742;
}
#content .content_area .policy .tabs .tab::before {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #f65742;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: all .25s ease-out;
}
#content .content_area .policy .tabs .tab.on::before {
  width: 100%;
}
#content .content_area .policy .tabs .tab::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background: #f65742;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 10px;
  opacity: 0;
  transition: all .35s ease-out;
}
#content .content_area .policy .tabs .tab.on::after {
  opacity: 1;
}

/* .contlist */
#content .content_area .policy .tabs .contlist {
  margin-top: 72px;
  padding-top: 100px;
}

/* .contlist1 */
#content .content_area .policy .tabs .contlist:nth-of-type(1) {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) dl {
  margin-bottom: 50px;
}
#content .content_area .policy .tabs .contlist:nth-of-type(1) dt {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin: 50px 0;
  position: relative;
}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .rule dt::before {
  content: '';
  display: block;
}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .rule dt::after {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  background: #333;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
}

#content .content_area .policy .tabs .contlist:nth-of-type(1) .rule dd {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 200px;
}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .rule dd .accent {
  color: #f65742;
}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn {
  height: 500px;
  margin: 100px auto;
  position: relative;
}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn :is(.val1, .val2) {
  border: 1px solid #ddd;
  box-shadow: -5px -5px 1px 0 rgba(255,255,255,.5), 1px 1px 5px 0 rgba(0,0,0,.2);
  transition: all .35s ease-out;
}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn .val1 {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background: #f65742;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn .val1:hover {
  transform: translate(-50%, -50%) scale(1.1);
}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn .val2 {
  width: 300px;
  height: 150px;
  background: #f8f8f8;
  border-radius: 30px;
  font-size: 1.25rem;
  font-weight: 500;
}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn .val2_1 {
  transform: translate(-150%, -150%);
}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn .val2_2 {
  transform: translate(50%, -150%);
}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn .val2_3 {
  transform: translate(-150%, 50%);
}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn .val2_4 {
  transform: translate(50%, 50%);
}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn .val2_1:hover {
  transform: translate(-150%, -150%) scale(1.1);
}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn .val2_2:hover {
  transform: translate(50%, -150%) scale(1.1);
}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn .val2_3:hover {
  transform: translate(-150%, 50%) scale(1.1);
}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn .val2_4:hover {
  transform: translate(50%, 50%) scale(1.1);
}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn .bg {
  display: block;
  width: 500px;
  height: 1px;
  background: #ddd;
  z-index: -10;
}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn .bg1 {
  transform: translateX(-50%) rotate(25deg);

}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn .bg2 {
  transform: translateX(-50%) rotate(-25deg);
}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .golas {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .golas dl {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .golas dt {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .golas dt span {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .golas dd {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .golas dd .accent {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .sign {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .sign .management_goals {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .sign .date {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .sign .pos {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .sign .name {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .sign .name span {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .sign .name img {}


/* .contlist2 */
#content .content_area .policy .tabs .contlist:nth-of-type(2) {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) h4 {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) h4 .en{}

#content .content_area .policy .tabs .contlist:nth-of-type(2) .activity {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .activity dl {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .activity dt {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .activity dt .en {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .activity dd {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .activity dd .sm {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .system {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .system .des {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .system .sys {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .system .sys .title {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .system .sys p {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .system .sys p b {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .system .sys img {}

