/* .policy */
#content .content_area .policy {
  
}
#content .content_area .policy .tabs {
  width: 1400px;
  margin: 0 auto 150px;
  position: relative;
  overflow: hidden;
}

/* .tab */
#content .content_area .policy .tabs .tab {
  width: 400px;
  font-size: 2rem;
  font-weight: 100;
  line-height: 3;
  text-align: center;
  color: #999;
  position: absolute;
  left: 0;
  top: 0;
  transition: all .25s ease-out;
}
#content .content_area .policy .tabs .tab.tab1 {
  margin-left: 300px;
}
#content .content_area .policy .tabs .tab.tab2 {
  margin-left: 700px;
}
#content .content_area .policy .tabs .tab:is(.on, :hover) {
  color: #f65742;
}
#content .content_area .policy .tabs .tab::before {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #f65742;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: all .25s ease-out;
}
#content .content_area .policy .tabs .tab.on::before {
  width: 100%;
}
#content .content_area .policy .tabs .tab::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background: #f65742;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 10px;
  opacity: 0;
  transition: all .35s ease-out;
}
#content .content_area .policy .tabs .tab.on::after {
  opacity: 1;
}

/* .contlist */
#content .content_area .policy .tabs .contlist {
  margin-top: 72px;
  padding-top: 100px;
}

/* .contlist1 */
#content .content_area .policy .tabs .contlist:nth-of-type(1) {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) dl {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) dt {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) dd {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) dd .accent {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn .val1 {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn .val2 {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn .val2_1 {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn .val2_2 {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn .val2_3 {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .venn .val2_4 {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .golas {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .golas dl {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .golas dt {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .golas dt span {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .golas dd {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .golas dd .accent {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .sign {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .sign .management_goals {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .sign .date {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .sign .pos {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .sign .name {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .sign .name span {}
#content .content_area .policy .tabs .contlist:nth-of-type(1) .sign .name img {}


/* .contlist2 */
#content .content_area .policy .tabs .contlist:nth-of-type(2) {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) h4 {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) h4 .en{}

#content .content_area .policy .tabs .contlist:nth-of-type(2) .activity {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .activity dl {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .activity dt {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .activity dt .en {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .activity dd {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .activity dd .sm {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .system {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .system .des {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .system .sys {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .system .sys .title {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .system .sys p {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .system .sys p b {}
#content .content_area .policy .tabs .contlist:nth-of-type(2) .system .sys img {}

