#content .content_area .intro {
  background: url('../images/content2/intro_bg.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}

/* .research */
#content .content_area .research {
  width: 1920px;
  margin: 0 auto;
}
#content .content_area .research ul {
  counter-reset: counter;
}
#content .content_area .research li {
  display: flex;
}
#content .content_area .research li:nth-of-type(even) {
  flex-direction: row-reverse;
}
#content .content_area .research li :is(.txt_container, .img_container){
  width: 50%;
  height: 540px;
}
#content .content_area .research li :is(.img_container, .txt_container) {
  transition: all .35s ease-out;
}
#content .content_area .research li .txt_container{
  padding: 80px;
  box-sizing: border-box;
  position: relative; 
}
#content .content_area .research ul li .txt_container {
  color: #fff;
}
#content .content_area .research ul li:nth-child(2) .txt_container {
  color: #2C44F2;
}
#content .content_area .research ul li:nth-child(1) .txt_container {
  background: #2C44F2;
}
#content .content_area .research ul li:nth-child(2) .txt_container {
  background: #f8f8f8;
}
#content .content_area .research ul li:nth-child(3) .txt_container {
  background: #4E55F1;
}
#content .content_area .research ul li:nth-child(4) .txt_container {
  background: #f65742;
}
#content .content_area .research ul li:nth-child(5) .txt_container {
  background: #BFB1A3;
}
#content .content_area .research li .txt_container .sub_title {
  display: block;
  font-size: 1.06rem;
  font-weight: 500;
  text-transform: capitalize;
}
#content .content_area .research li .txt_container .sub_title::after {
  counter-increment: counter;
  content: " 0" counter(counter);  
}
#content .content_area .research li .txt_container dl {
  height: 100%;
}
#content .content_area .research li .txt_container :is(dt, dd) {
  width: calc(100% - 80px);
  position: absolute;
  left: 80px;
}
#content .content_area .research li .txt_container dt {
  top: 50%;
  transform: translateY(-50%);
  margin-top: -50px;
  font-size: 2.31rem;
  font-weight: 600;
}
#content .content_area .research li .txt_container dd {
  width: calc(100% - 160px);
  font-size: 1.1rem;
  font-weight: 300;
  bottom: 100px;
}
#content .content_area .research li .img_container{
  width: 500px;
  overflow: hidden;
}
#content .content_area .research li .img_container img {
  object-fit: cover;
}
#content .content_area .research li:nth-of-type(odd) .img_container {
  border-radius: 0 50% 0 0;
}
#content .content_area .research li:nth-of-type(even) .img_container {
  border-radius: 50% 0 0 0;
}
#content .content_area .research li:nth-of-type(odd):hover .img_container {
  border-radius: 50px 50% 50px 50px;
}
#content .content_area .research li:nth-of-type(even):hover .img_container {
  border-radius: 50% 50px 50px 50px;
}
#content .content_area .research li:hover .txt_container {
  border-radius: 50px;
}
