#content .content_area .intro {
  background: url('../images/content2/intro_bg.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}

/* research */
#content .content_area .research li :is(.txt_container, .img_container){
  height: 540px;
}
#content .content_area .research li .txt_container{
  padding: 80px;
}
#content .content_area .research li .txt_container :is(dt, dd) {
  width: calc(100% - 80px);
  position: absolute;
  left: 80px;
}
#content .content_area .research li .txt_container dt {
  top: 50%;
  transform: translateY(-50%);
}
#content .content_area .research li .txt_container dd {
  width: calc(100% - 160px);
  font-size: 1.1rem;
  font-weight: 300;
  bottom: 100px;
}
#content .content_area .research li .img_container{
  width: 500px;
}
#content .content_area .research li:nth-of-type(odd) .img_container {
  border-radius: 0 50% 0 0;
}
#content .content_area .research li:nth-of-type(even) .img_container {
  border-radius: 50% 0 0 0;
}
#content .content_area .research li:nth-of-type(odd):hover .img_container {
  border-radius: 50px 50% 50px 50px;
}
#content .content_area .research li:nth-of-type(even):hover .img_container {
  border-radius: 50% 50px 50px 50px;
}
#content .content_area .research li:hover .txt_container {
  border-radius: 50px;
}
