#content .content_area .intro {
  background: url('../images/content1/intro_bg.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}
#content .content_area .history #y1990 ul {
  width: 2300px;
}

/* .research */
#content .content_area .research li :is(.txt_container, .img_container){
  height: 1000px;
}
#content .content_area .research ul li:nth-child(2) .txt_container {
  background: #bfb1a3;
  color: #fff;
}
#content .content_area .research li img {
  transform: scale(1.03);
  transition: all .55s ease-out;
}
#content .content_area .research li:hover img {
  transform: scale(1);
}
#content .content_area .research li .txt_container{
  padding: 130px 0;
  text-align: center;
}
#content .content_area .research li .txt_container .sub_title::after {
  display: block;
}
#content .content_area .research li .txt_container dt {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -250%);
}
#content .content_area .research li .txt_container dd.progress {
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 10%);
  counter-reset: progress;
}
#content .content_area .research li:nth-child(3) .txt_container dd.progress {
  width: 35%;
}
#content .content_area .research li:nth-child(4) .txt_container dd.progress {
  width: 20%;
}
#content .content_area .research li .txt_container dd.progress span {
  display: inline-block;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  margin-bottom: 56px;
}
#content .content_area .research li .txt_container dd.progress span:not(:last-child) {
  margin-right: 16px;
}
#content .content_area .research li .txt_container dd.progress span::before {
  counter-increment: progress;
  content: "" counter(progress);
  display: block;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-230%);
  font-size: 0.9rem;
  font-weight: 300;
}
#content .content_area .research li .txt_container dd.progress::before {
  content: "";
  display: block;
  width: 85%;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0px);
}
#content .content_area .research li:nth-child(2) .txt_container dd.progress::after {
  content: "";
  display: block;
  width: 95%;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 96px);
}


#content .content_area .research li .txt_container dd {
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 130px;
  transform: translateX(-50%);
}



/* .project */
#content .content_area .project h3::before {
  content: "A dream of a technologically advanced country";
  display: block;
  font-size: 1rem;
  font-weight: 600;
  color: #f65742;
  margin: 120px auto 20px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
#content .content_area .project .img_container {
  margin: 100px auto 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
#content .content_area .project .img_container li img {
  width: 150px;
  height: 150px;
  filter: contrast(30%);
  transition: all .35s ease-out;
}
