#content .content_area .intro {
  background: url('../images/content1/intro_bg.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}
#content .content_area .history_contents:hover {
  cursor: url('../images/content1/history_cursor.cur'), auto;
}
#content .content_area .history #y1990 ul {
  width: 2300px;
}

/* .research */
#content .content_area .research li :is(.txt_container, .img_container){
  height: 1000px;
}
#content .content_area .research li .txt_container{
  padding: 130px 0;
  text-align: center;
}
#content .content_area .research li .txt_container .sub_title::after {
  display: block;
}
#content .content_area .research li .txt_container dt {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#content .content_area .research li .txt_container dd {
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 130px;
  transform: translateX(-50%);
}
#content .content_area .research li:hover .img_container {
  border-radius: 50%;
}

/* .project */
#content .content_area .project {
  background: #f2f2f2;
  text-align: center;
  /* margin 병합을 위한 ov:h 코드 */
  overflow: hidden;
}
#content .content_area .project h3::before {
  content: "A dream of a technologically advanced country";
  display: block;
  font-size: 1rem;
  font-weight: 600;
  color: #f65742;
  margin: 120px auto 20px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
#content .content_area .project h3 {
  font-size: 4.1rem;
  font-weight: 600;
  margin-bottom: 40px;
}
#content .content_area .project .accent {
  color: #f65742;
}
#content .content_area .project p {
  font-size: 1.1rem;
  font-weight: 300;
  color: #666;
}
#content .content_area .project .icon_container {
  width: 1050px;
  margin: 110px auto 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#content .content_area .project .icon_container li img {
  width: 180px;
  height: 180px;
  filter: contrast(40%);
  transition: all .35s ease-out;
}
