#content .award {
  width: 100%;
  background: #f8f8f8;
  padding: 100px 0 200px;
}
#content .award .award__container {
  width: 1400px;
  margin: 0 auto;
}
#content .award .award__container h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #2C44F2;
  margin-bottom: 30px;
}
#content .award .award__container h3 + p {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 106px;
}
#content .award .award__container h3 + p strong {
font-weight: 500;
}

/* .search */
#content .award__container .search {
  width: 550px;
  margin: 0 auto 130px;
  background: #fff;
  border: 1px solid #f2f2f5;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0 24px;
  box-shadow: -5px -5px 15px #fff, 0 0 5px 0 rgba(0,0,0,.3);
}
#content .award__container .search input {
  width: 100%;
  border: none;
  font-size: 1.5em;
  padding: 16px 24px;
  background: none;
}
#content .award__container .search input::placeholder {
  color: #999;
  font-weight: 300;
}
#content .award__container .search input:focus {
  outline: none;
}
#content .award__container .search #searchBtn {
  font-size: 1.5rem;
  color: #2C44F2;
  background: none;
  border: none;
  cursor: pointer;
}
#content .award__container .search #searchBtn:focus {
  outline: none;
}

/* .award_list */
#content .award__contents .award_list {
  width: calc(507px * 3 + 60px);
  position: relative;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
#content .award__container .award_list li {
  width: calc(1400px / 3 - 40px);
  width: 507px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: all 0.55s ease;
}
#content .award__container .img_wrap {
  width: 507px;
  height: 215px;
  overflow: hidden;
}
#content .award__container .img_wrap img {
  transition: all 0.5s ease;
}
#content .award__container .award_list li:hover img {
  transform: scale(1.2);
}
#content .award__container .award_txt {
  padding: 20px 0 15px 35px;
  display: flex;
  flex-direction: column;
}
#content .award__container .award_txt dt {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
  order: 1;
}
#content .award__container .award_txt .award_institution {
  font-size: 0.88rem;
  font-weight: 400;
  color: #666;
  margin-bottom: 7px;
  order: 0;
}
#content .award__container .award_txt .date {
  font-size: 0.8rem;
  font-weight: 200;
  color: #999;
  order: 2;
}
#content .award .btn_box {
  position: absolute;
  right: 0;
  top: 320px;
  display: flex;
  gap: 5px;
}
#content .award .btn_box a {
  padding: 5px 10px;
  font-size: 1.2rem;
  color: #999;
  border-radius: 50%;
}
#content .award .btn_box a:hover {
  color: #ef0010;
}
#content .award .btn_box .more_btn {
  transition: all 0.25s ease-out;
}
#content .award .btn_box .more_btn:hover {
  transform: rotate(180deg);
  background: #ef0010;
  color: #fff;
}

#content .award .award__contents > p {
  text-align: center;
  font-size: 1.3rem;
  padding-top: 30px;
}