#content .content_area .intro {
  background: url('../images/content1/intro_bg.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}
#content .content_area .history_contents:hover {
  cursor: url('../images/content1/history_cursor.cur'), auto;
}
#content .content_area .history #y1990 ul {
  width: 2300px;
}
/* .research */
#content .content_area .research ul li .txt_container {
  color: #fff;
}
#content .content_area .research ul li:nth-child(2) .txt_container {
  color: #2C44F2;
}

#content .content_area .research ul li:nth-child(1) .txt_container {
  background: #2C44F2;
}
#content .content_area .research ul li:nth-child(2) .txt_container {
  background: #f8f8f8;
}

#content .content_area .research ul li:nth-child(3) .txt_container {
  background: #4E55F1;
  
}
#content .content_area .research ul li:nth-child(4) .txt_container {
  background: #2C44F2;
  background: #f65742;
  
}

    