/* section common */
#content .content_area section {
  width: 1200px;
  margin: 0 auto 120px;
  display: flex;
  justify-content: space-between;
}
#content .content_area section h3 {
  font-size: 27px;
  font-weight: 700;
  color: #1c1c1c;
  letter-spacing: -1.5px;
  line-height: 1.75;
}
#content .content_area section .txt_box {
  width: 880px;
  letter-spacing: -.54px;
  
}
#content .content_area section .txt_box p.strong {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
}
#content .content_area section .txt_box p.strong .accent {
  font-weight: 700;
}
#content .content_area section .txt_box p.desc {
  font-size: 18px;
  font-weight: 200;
}


/* .personnel_system1 */
#content .content_area .personnel_system1 {}


/* .personnel_system2 */
#content .content_area .personnel_system2 {
  height: calc(68px + 75px + 514px);
  position: relative;
}
#content .content_area .personnel_system2 .system_graph {
  width: 100%;
  height: 514px;
  position: absolute;
  left: 0;
  bottom: 0;
  border: 1px solid #000;
  box-sizing: border-box;
  perspective: 2400px;
  
}
#content .content_area .personnel_system2 .system_graph dl {
  width: 280px;
  height: 280px;
  position: absolute;
  left: 50%;
  top: -20px;
  transform: translateX(-50%) rotateX(48deg);
  transform-style: preserve-3d;
}
#content .content_area .personnel_system2 .system_graph dl::before {
  content: '';
  display: block;
  width: 280px;
  height: 280px;
  transform: rotate(45deg);
  position: relative;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,.2);
}
#content .content_area .personnel_system2 .system_graph dl.sgr1 {
  z-index: 40;
}
#content .content_area .personnel_system2 .system_graph dl.sgr2 {
  z-index: 30;
}
#content .content_area .personnel_system2 .system_graph dl.sgr3 {
  z-index: 20;
}
#content .content_area .personnel_system2 .system_graph dl.sgr4 {
  z-index: 10;
}
#content .content_area .personnel_system2 .system_graph dl.sgr1::before {
  border: 1px solid #f65742;
  background: #fff;
  top: 0;
}
#content .content_area .personnel_system2 .system_graph dl.sgr2::before {
  border: 1px solid #f65742;
  background: #f8c5be;
  top: 100px;
}
#content .content_area .personnel_system2 .system_graph dl.sgr3::before {
  border: 1px solid #f65742;
  background: #ffaba0;
  top: 200px;
}
#content .content_area .personnel_system2 .system_graph dl.sgr4::before {
  border: 1px solid #f65742;
  background: #f65742;
  top: 300px;
}


/* .personnel_system3 */
#content .content_area .personnel_system3 {}