/* section common */
#content .content_area section {
  width: 1200px;
  margin: 0 auto 120px;
  display: flex;
  justify-content: space-between;
}
#content .content_area section h3 {
  font-size: 27px;
  font-weight: 700;
  color: #1c1c1c;
  letter-spacing: -1.5px;
  line-height: 1.75;
}
#content .content_area section .txt_box {
  width: 880px;
  letter-spacing: -0.54px;
}
#content .content_area section .txt_box p.strong {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
}
#content .content_area section .txt_box p.strong .accent {
  font-weight: 900;
}
#content .content_area section .txt_box p.desc {
  font-size: 18px;
  font-weight: 200;
}

/* .personnel_system1 */
#content .content_area .personnel_system1 {
}

/* .personnel_system2 */
#content .content_area .personnel_system2 {
  height: calc(68px + 75px + 514px);
  position: relative;
}
#content .content_area .personnel_system2 .system_graph {
  width: 100%;
  height: 514px;
  position: absolute;
  left: 0;
  bottom: 0;
}
#content .content_area .personnel_system2 .system_graph::after {
  content: "";
  display: block;
  width: 400px;
  height: 300px;
  background: #f5f5f5;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
}
#content .content_area .personnel_system2 .system_graph dl {
  width: 0px;
  height: 0px;
  border-right: 200px solid #666666;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  position: absolute;
  left: 50%;
  transform: translateX(-100%);
}
#content .content_area .personnel_system2 .system_graph dl.sgr1 {
  border-right: 200px solid #ffece9;
  top: 0px;
  z-index: 40;
}
#content .content_area .personnel_system2 .system_graph dl.sgr2 {
  border-right: 200px solid #ffaba0;
  top: 100px;
  z-index: 30;
}
#content .content_area .personnel_system2 .system_graph dl.sgr3 {
  border-right: 200px solid #f65742;
  top: 200px;
  z-index: 20;
}
#content .content_area .personnel_system2 .system_graph dl.sgr4 {
  border-right: 200px solid #ef0010;
  top: 300px;
  z-index: 10;
}
#content .content_area .personnel_system2 .system_graph dl::after {
  content: "";
  border-left: 200px solid #666666;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  position: absolute;
  left: 50%;
  top: -100px;
  transform: translateX(100%);
}
#content .content_area .personnel_system2 .system_graph dl.sgr1::after {
  border-left: 200px solid #ffece9;
}
#content .content_area .personnel_system2 .system_graph dl.sgr2::after {
  border-left: 200px solid #ffaba0;
}
#content .content_area .personnel_system2 .system_graph dl.sgr3::after {
  border-left: 200px solid #f65742;
}
#content .content_area .personnel_system2 .system_graph dl.sgr4::after {
  border-left: 200px solid #ef0010;
}

#content .content_area .personnel_system2 .system_graph dt {
  width: 100px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  transform: translate(150%, 100%);
  z-index: 100;
  color: #fff;
}
#content .content_area .personnel_system2 .system_graph dl.sgr1 dt {
  color: #000;
}
#content .content_area .personnel_system2 .system_graph dd {
  width: 320px;
  position: absolute;
}
#content .content_area .personnel_system2 .system_graph dl:nth-child(odd) dd {
  transform: translate(150%, -50%);
}
#content .content_area .personnel_system2 .system_graph dl:nth-child(even) dd {
  text-align: right;
  transform: translate(-125%, -50%);
}
#content .content_area .personnel_system2 .system_graph dl:nth-child(odd) dd::before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #f65742;
  position: absolute;
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -10;
}
#content .content_area .personnel_system2 .system_graph dl:nth-child(even) dd::before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #f65742;
  position: absolute;
  right: -70px;
  top: 50%;
  transform: translateY(-50%);
}
#content .content_area .personnel_system2 .system_graph dl:nth-child(odd) dd::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #f65742;
  position: absolute;
  left: -80px;
  top: 50%;
  transform: translateY(-50%);
}
#content .content_area .personnel_system2 .system_graph dl:nth-child(even) dd::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #f65742;
  position: absolute;
  right: -80px;
  top: 50%;
  transform: translateY(-50%);
}

/* .personnel_system3 */
#content .content_area .personnel_system3 {
  position: relative;
  width: 100%;
  padding: 100px 0;
  background: #f6f6f6;
  margin-bottom: 0;
  display: block;
}
#content .content_area .personnel_system3 .txt_box_wrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#content .content_area .personnel_system3 .box {
  width: 100%;
  height: 100px;
  background: pink;
}