#content .content_area section .txt_box_wrap {
  margin: 0 auto 75px;
}
#content .content_area section .txt_box_wrap .txt_box p.strong {
  margin-bottom: 5px;
}

#content .content_area section.career {
  padding: 100px 0;
  box-sizing: border-box;
  background: #f6f6f6;
}

/* .newcomer */
#content .content_area .newcomer {
  
}
#content .content_area .newcomer .list_circle {}
#content .content_area .newcomer .list_circle ol {
  display: flex;
  justify-content: center;
  gap: 72px;
}
#content .content_area .newcomer .list_circle ol li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #1c1c1c;
  position: relative;
}
#content .content_area .newcomer .list_circle ol li span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#content .content_area .newcomer .list_circle ol li .progressbar-text {
  display: none;
}
#content .content_area .newcomer .list_step {}
#content .content_area .newcomer .link_banner {}


/* .career */
#content .content_area .career {
  
}
#content .content_area .career .list_circle {}
#content .content_area .career .list_circle ol {
  display: flex;
  justify-content: center;
  gap: 60px;
}
#content .content_area .career .list_circle ol li {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 1px solid #000;
}