#content .slideMenu {
  height: 60px;
  margin-bottom: 150px;
}
/* 추가코드 start */
#content .slideMenu.navOn {
  position: fixed;
  width: 100%;
  z-index: 60;
  left: 0;
  top: 0;
  margin-bottom: 0;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.25s ease-out;
}
/* 추가코드 end */
#content .slideMenu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#content .slideMenu ul li a {
  width: 180px;
  line-height: 60px;
  text-align: center;
  font-size: 1.13rem;
  font-weight: 500;
  color: #999;
  transition: all 0.25s ease-out;
}
#content .slideMenu ul li a:is(:hover, .spy) {
  background: #f65742;
  color: #fff;
  border-radius: 16px;
}

/* section.history_list */
#content .history_list {
  margin-bottom: 100px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
#content .history_list.on {
  padding-top: 210px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

#content .history_list .img_container {
  width: 700px;
  overflow: hidden;
}
#content .history_list .img_container img {
  width: 100%;
  float: right;
  border-radius: 30px;
}
#content .history_list.con2 .img_container img {
  width: 80%;
  margin-bottom: 50px;
}
#content .history_list .year {
  width: 630px;
}
#content .history_list .year dl {
  margin-bottom: 80px;
}
#content .history_list .year dt {
  font-size: 3.13rem;
  font-weight: 700;
  color: #111;
  margin-bottom: 40px;
}
#content .history_list .year dd {
  font-size: 1.25rem;
  color: #111;
  margin-bottom: 10px;
}
#content .history_list .year dd .long {
  display: inline-block;
  width: 90%;
}
#content .history_list .year dd .month {
  font-weight: 700;
  margin-right: 15px;
}
#content .history_list .year dd .month.op0 {
  opacity: 0;
}
