#content .intro .tab_menu {
  display: flex;
  justify-content: center;
  border: 1px solid #c5c5c5;
  margin-bottom: 100px;
}
#content .intro .tab_menu li .tab {
  width: calc(1400px / 3);
  text-align: center;
  line-height: 60px;
  font-size: 1.25rem;
  transition: all 0.25s ease-out;
}
#content .intro .tab_menu li:not(:last-of-type) {
  border-right: 1px solid #c5c5c5;
}
#content .intro .tab_menu li .tab.on,
#content .intro .tab_menu li .tab:hover {
  background: #f65742;
  color: #fff;
}

/* .contlist 공통 */
#content .contlist {
  margin: 100px 0;
  display: none;
}
#content .contlist > div {
  margin-bottom: 200px;
}
#content .intro .contlist > div > .title {
  font-size: 2.3rem;
  font-weight: 700;
  border-bottom: 2px solid #222;
  padding-bottom: 50px;
}
#content .intro .contlist > div > .title + * {
  width: 100%;
}

/* .invest1 */
#content .contlist.tab1 .invest1 {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
/* .invest1 .iframe_box */
#content .contlist.tab1 .invest1 .iframe_box {
  width: 685px;
  height: 450px;
  background: #f8f8f8;
  border-radius: 50px;
  padding: 55px 75px 85px;
  box-sizing: border-box;
}
#content .contlist.tab1 .iframe_box .iframe_head::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #ef0010 url("../../common/images/KUMHO_Logo_KJH_icon_fff.png")
    no-repeat 10px 13px;
  background-size: 26px;
  border-radius: 50%;
  vertical-align: bottom;
  margin-right: 10px;
}
#content .contlist.tab1 .iframe_box .iframe_head {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 70px;
}
#content .contlist.tab1 .iframe_box .iframe_head span {
  font-size: 1.25rem;
  font-weight: 400;
  margin-left: 15px;
}
#content .contlist.tab1 .iframe_box .positive {
  color: #ef0010;
}
#content .contlist.tab1 .iframe_box .negative {
  color: #2c44fe;
}
/* .iframe_box .middle */
#content .contlist.tab1 .iframe_box .middle {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
}
#content .contlist.tab1 .iframe_box .middle .last {
  font-size: 4.38rem;
  font-weight: 700;
  line-height: 1;
}
#content .contlist.tab1 .iframe_box .middle .changerate {
  display: flex;
  gap: 20px;
  
}
#content .contlist.tab1 .iframe_box .middle .changerate li:first-of-type {
  margin-right: 5px;
}
#content .contlist.tab1 .iframe_box .middle .changerate li dl {
  display: flex;
  align-items: center;
  gap: 5px;
}
#content .contlist.tab1 .iframe_box .middle .changerate li dt {
  font-size: 1.56rem;
  font-weight: 600;
}
#content .contlist.tab1 .iframe_box .middle .changerate li dd {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 3px;
}
#content .contlist.tab1 .iframe_box .middle .changerate .positive::before {
  content: "";
  display: inline-block;
  background: url("../../mainimages/investment_positive.png");
  background-size: cover;
  width: 10px;
  height: 10px;
}
#content .contlist.tab1 .iframe_box .middle .changerate .negative::before {
  content: "";
  display: inline-block;
  background: url("../../mainimages/investment_negative.png");
  background-size: cover;
  width: 10px;
  height: 10px;
}
/* .iframe_box bottom */
#content .contlist.tab1 .iframe_box .bottom {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
}
#content .contlist.tab1 .iframe_box .bottom th {
  font-weight: 700;
}
#content .contlist.tab1 .iframe_box .bottom td.open {
  color: #ef0010;
}
#content .contlist.tab1 .iframe_box .bottom td.high {
  color: #2c44fe;
}
/* .invest1 .earning-rate */
#content .contlist.tab1 .earning-rate {
  width: 680px;
  height: 657px;
  background: #fff;
  border: 2px solid #c5c5c5;
  border-radius: 50px;
  padding: 53px 58px 60px;
  box-sizing: border-box;
}
#content .contlist.tab1 .earning-rate_head {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 40px;
}
#content .contlist.tab1 .earning-rate_container {
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
  padding: 12px 0 30px;
  position: relative;
}
#content .contlist.tab1 .earning-rate .tab_list {
  letter-spacing: -1.2px;
  font-weight: 500;
}
#content .contlist.tab1 .earning-rate .tab_list .tab_list_title {
  float: left;
  margin-right: 10px;
}
#content .contlist.tab1 .earning-rate .tab_list .tabs {
  float: right;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
#content .contlist.tab1 .earning-rate .tab_list .tabs a {
  padding: 0 10px;
}
#content .contlist.tab1 .earning-rate .notice_date {
  position: absolute;
  right: 0;
  top: 70px;
  font-size: 0.8rem;
  color: #666;
}
#content .contlist.tab1 .earning-rate .graph {
  clear: both;
}
#content .contlist.tab1 .earning-rate .graph .chart {
  height: 325px;
  display: grid;
  place-items: center;
  color: #999;
}
#content .contlist.tab1 .earning-rate .graph .chart #chart {
  width: 300px;
}
#content .contlist.tab1 .earning-rate .graph .button_bar {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #f2f3f8;
  border-radius: 8px;
  box-sizing: border-box;
  height: 26px;
}
#content .contlist.tab1 .earning-rate .graph .button_bar .checkbox {
  display: flex;
  align-items: center;
}
#content .contlist.tab1 .earning-rate .graph .button_bar label {
  font-size: 0.7rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}
#content .contlist.tab1 .earning-rate .graph .button_bar label small {
  font-weight: 300;
  margin-left: 5px;
}
#content .contlist.tab1 .earning-rate .graph .notice_des {
  font-size: 0.8rem;
  font-weight: 300;
  color: #999;
  margin-top: 15px;
}
#ci1 {
  accent-color: #f65742;
}
#ci2 {
  accent-color: #3ffffc;
}
#ci3 {
  accent-color: #8afcaa;
}

/* sub1_3 table 공통 */
#content .tabs table :is(th, td) {
  text-align: center;
}

/* .invest2 table */
#content .contlist.tab1 :is(.invest2, .invest4) thead,
#content .contlist.tab1 .invest4 tfoot tr > * {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 76px;
}
#content .contlist.tab1 :is(.invest2, .invest4) tbody {
  line-height: 80px;
}
#content .contlist.tab1 :is(.invest2, .invest4) table tbody :is(th, td) {
  font-size: 1.25rem;
  text-align: center;
}
#content .tabs table tbody th {
  font-weight: 400;
}
#content .tabs table tbody td {
  font-weight: 300;
}
#content .contlist.tab1 :is(.invest2, .invest4) tr {
  border-bottom: 1px solid #e5e5e5;
}
#content .contlist.tab1 :is(.invest2, .invest4) tr > *:not(:last-child) {
  border-right: 1px solid #e5e5e5;
}
#content .tabs table caption {
  caption-side: bottom;
  margin-top: 15px;
  padding: 10px;
  text-align: right;
}
#content :is(.tabs table caption, .invest4 .table_des p) {
  font-size: 0.94rem;
  font-weight: 300;
  letter-spacing: -0.63px;
  color: #999;
}

/* .invest3 */
#content .contlist.tab1 .invest3 {
  position: relative;
}
#content .contlist.tab1 .invest3 .category {
  position: absolute;
  left: 0;
  top: 120px;
  font-size: 1.5rem;
}
#content .contlist.tab1 .invest3 .graph {
  width: 400px;
  margin: 150px auto 300px;
  position: relative;
}
#content .contlist.tab1 .invest3 .graph .label {
  width: 400px;
  font-size: 1.35rem;
  position: absolute;
  left: -500px; 
}
#content .contlist.tab1 .invest3 .graph :is(.label1, .label5) {
  text-align: right;
  left: 500px;
  top: 200px;
}
#content .contlist.tab1 .invest3 .graph .label5 {
  top: 50px;
}
#content .contlist.tab1 .invest3 .graph .label2 {
  top: 300px;
}
#content .contlist.tab1 .invest3 .graph .label3 {
  top: 150px;
}
#content .contlist.tab1 .invest3 .graph .label4 {
  top: 0px;
}

#content .contlist.tab1 .invest3 .graph .label .per {
  display: block;
  font-size: 3rem;
  font-weight: 700;
}
#content .contlist.tab1 .invest3 .graph .label .per::after {
  content: "%";
}

#content .contlist.tab1 .invest3 .graph .label1 .per {
  color: #ef0010;
}
#content .contlist.tab1 .invest3 .graph .label2 .per {
  color: #56423D;
}
#content .contlist.tab1 .invest3 .graph .label3 .per {
  color: #BEA6A0;
}
#content .contlist.tab1 .invest3 .graph .label4 .per {
  color: #0097D7;
}
#content .contlist.tab1 .invest3 .graph .label5 .per {
  color: #00D0FF;
}

#content .contlist.tab1 .invest3 .graph .label::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 10;
}
#content .contlist.tab1 .invest3 .graph .label1::before {
  content: "";
  background: #ef0010;
  left: 0;
}
#content .contlist.tab1 .invest3 .graph .label2::before {
  content: "";
  background: #56423D;
}
#content .contlist.tab1 .invest3 .graph .label3::before {
  content: "";
  background: #BEA6A0;
}
#content .contlist.tab1 .invest3 .graph .label4::before {
  content: "";
  background: #0097D7;
}
#content .contlist.tab1 .invest3 .graph .label5::before {
  content: "";
  background: #00D0FF;
  left: 0;
}
#content .contlist.tab1 .invest3 .graph .label::after {
  content: "";
  display: block;
  width: 400px;
  height: 1px;
  background: #ddd;
  position: absolute;
  left: 0;
  top: 65%;
}
#content .contlist.tab1 .invest3 .date {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #999;
}
/* ===== chartjs start ===== */
#invest3Graph .chartjs-render-monitor .chartjs-chart-labels {
  display: none;
}
#content .contlist.tab1 .invest3 .graph .chart2 {
  width: 500px;
  height: 500px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
/* ===== chartjs end ===== */


/* .invest4 */
#content .contlist.tab1 .invest4 {
}
#content .contlist.tab1 .invest4 td:last-child::after {
  content: "%";
}
#content .contlist.tab1 .invest4 .table_des {
  position: relative;
  left: 0;
  top: -30px;
}
#content .contlist.tab1 .invest4 .table_des p::before {
  content: "※ ";
}
#content .contlist.tab1 .invest4 .table_des p {
  line-height: 2;
}

/* .tab2 */
#content .contlist.tab2 .data1 {
  width: 750px;
  margin: 0 auto;
}
#content .contlist.tab2 .data1 iframe {
  height: 950px;
}
/* .data2 */
#content .contlist.tab2 .data2 .title {
  border-bottom: none;
}
#content .contlist.tab2 .data2 table th {
  border-top: 4px solid #f65742;
  border-bottom: 1px solid #f65742;
}
#content .contlist.tab2 .data2 table tr {
  border-bottom: 1px solid #ddd;
  font-weight: 300;
  line-height: 70px;
}
#content .contlist.tab2 .data2 table i {
  width: 100%;
  cursor: pointer;
  line-height: 70px;
}
#content .contlist.tab2 .paging {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
#content .contlist.tab2 .paging button {
  border: none;
  background: none;
}
#content .contlist.tab2 .paging :is(button, a) {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 2px;
  color: #999;
  cursor: pointer;
}
#content .contlist.tab2 .paging a.active {
  background: #f65742;
  color: #fff;
}
#content .contlist.tab2 .paging button:disabled {
  color: #ddd;
}

/* .tab3 */
#content .contlist.tab3 {  
}
#content .contlist.tab3 .financial :is(.financial_position, .financial_income) {
  margin: 80px auto;
}
#content .contlist.tab3 .financial .chart_inner {
  height: 560px;
  border: 1px solid #c5c5c5;
  position: relative;
}
#content .contlist.tab3 .financial .chart_inner_title {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin: 40px 0;
}
#content .contlist.tab3 .financial .chart_inner_title + p {
  position: absolute;
  right: 0;
  top: -30px;
  font-size: 0.9rem;
  font-weight: 300;
  color: #999;
}
/* ===== .highcharts-figure start ===== */
#content .contlist.tab3 .financial :is(#graph1, #graph2) .highcharts-figure {
    width: 1300px;
    margin: 0 auto;
    padding-top: 20px;
}
/* highcharts-point-hover 시 배경색 제거 */
.highcharts-crosshair.highcharts-crosshair-category {
  display: none;
}
/* 햄버거메뉴 제거 */
.highcharts-exporting-group {
  display: none;
}
/* ===== .highcharts-figure end ===== */
